@charset "UTF-8";
* { line-height: 1.5; box-sizing: border-box; }

html, body { height: 100%; margin: 0; font-size: initial; }

@media only screen and (min-width: 1024px) { html, body { font-size: initial; } }

body { display: flex; flex-direction: column; color: rgba(0, 0, 0, 0.87); }

br[laptop] { display: none; }

@media only screen and (min-width: 1024px) { br[laptop] { display: block; } }

@media only screen and (min-width: 1024px) { br[not-laptop] { display: none; } }

br[tablet] { display: none; }

@media only screen and (min-width: 768px) and (max-width: 1023px) { br[tablet] { display: block; } }

@media only screen and (min-width: 768px) and (max-width: 1023px) { br[not-tablet] { display: none; } }

br[mobile] { display: none; }

@media only screen and (max-width: 767px) { br[mobile] { display: block; } }

@media only screen and (max-width: 767px) { br[not-mobile] { display: none; } }

br[mobile-l] { display: none; }

@media only screen and (min-width: 425px) and (max-width: 767px) { br[mobile-l] { display: block; } }

@media only screen and (min-width: 425px) and (max-width: 767px) { br[not-mobile-l] { display: none; } }

br[mobile-m] { display: none; }

@media only screen and (min-width: 375px) and (max-width: 424px) { br[mobile-m] { display: block; } }

@media only screen and (min-width: 375px) and (max-width: 424px) { br[not-mobile-m] { display: none; } }

br[mobile-s] { display: none; }

@media only screen and (max-width: 374px) { br[mobile-s] { display: block; } }

@media only screen and (max-width: 374px) { br[not-mobile-s] { display: none; } }

#info-navBar_tab--weather::before { content: "Weather News"; }

#info-navBar_tab--weather:lang(ja)::before { content: "気象情報"; }

#info-navBar_tab--transportation::before { content: "Transportation Status"; }

#info-navBar_tab--transportation:lang(ja)::before { content: "鉄道運行情報"; }

#info-navBar_tab--river::before { content: "River Status"; }

#info-navBar_tab--river:lang(ja)::before { content: "河川情報"; }

#info-navBar_tab--municipal::before { content: "Municipal Information"; }

#info-navBar_tab--municipal:lang(ja)::before { content: "自治体情報"; }

template.header-and-footer, .header, .footer { display: flex; justify-content: start; align-items: center; width: 100%; padding: 1em; color: #ffffff; background: #00838f; box-shadow: 0px 0px 2px 0px #005662; }

template.header-and-footer a, .header a, .footer a { color: #ffe4e1; }

template.header-and-footer a:focus, .header a:focus, .footer a:focus { color: #ffbfb8; }

.header { flex-direction: column; position: fixed; left: 0; top: 0; z-index: 127; }

@media only screen and (min-width: 1024px) { .header { flex-direction: row; } }

.header_serviceName { display: flex; flex-direction: row; align-items: center; flex: 1; font-size: 1.5em; }

.header_serviceName-name { display: inline-flex; margin-left: 1em; }

.header_serviceName-logo { width: auto; height: 1.5em; }

.header_serviceName-logo img { width: auto; height: inherit; }

.header + * { margin-top: calc(4.5em + 2em); }

@media only screen and (min-width: 1024px) { .header + * { margin-top: calc(2.25em + 2em); } }

.footer { flex-direction: row; }

.footer_copyright { flex: 1; font-size: 0.75em; text-align: right; }

.content { /* display: grid; grid-template-columns: 100%; grid-auto-rows: 1fr; flex: 1; padding: 1em; @include onSize(laptop) { grid-template-columns: 47.5% 1fr 47.5% } details { @include onSize(laptop) { &:nth-child(2n - 1) { grid-column: 1 / 2 } &:nth-child(2n) { grid-column: 3 / 4 } } > section { position: relative; width: 100%; &::before { content: ""; display: block; padding-top: calc(100% / 16 * 9); } > * { position: absolute; left: 0; top: 0; width: 100%; height: 100%; } } } */ }

.navigation_tabBar { display: flex; flex-direction: row; justify-content: center; align-items: center; }

.navigation_tabBar a { text-decoration: none; }

.navigation_tabBar_tab { padding: 0.5em; color: #ffe4e1 !important; cursor: pointer; }

.navigation_tabBar_tab--active { color: #ffffff !important; }

.navigation_tabBar_tab[disabled] { color: #c2c2c2 !important; pointer-events: none; }

.navigation_panel { display: none; }

.navigation_panel[open] { display: block; }

/*# sourceMappingURL=maps/main.css.map */