@charset "UTF-8";

@import "../foundation/variables";
@import "../foundation/functions";



#{getUuid(content)} {
	flex: 1;

	&_panel {
		&[active] {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: 1fr;
			column-gap: 5%;
			row-gap: 1em;

			@include onSize(laptop) { grid-template-columns: 1fr 1fr }
		}
	}

	&_panelGroup { padding: 1em }
}