@charset "UTF-8";



// Localized languages
$languages: (
	en: ("", en, en-US),
	ja: (ja, ja-JP)
);

// Add a localization of provided language
@mixin i18n ($lang, $content, $beforeOrAfter: before) {
	@if ($lang == null or $lang == "") {
		&::#{$beforeOrAfter} { content: $content }
	} @else {
		@each $langCode in map-get($languages, $lang) {
			&:lang(#{$langCode}) {
				&::#{$beforeOrAfter} { content: $content; @content }
			}
		}
	}
}



#IDEA {
	&-navigation_tab {
		&--weather > span {
			@include i18n("", "Weather");
			@include i18n(ja, "気象情報");
		}

		&--transportation > span {
			@include i18n("", "Transportation");
			@include i18n(ja, "交通機関情報");
		}

		&--river > span {
			@include i18n("", "River");
			@include i18n(ja, "河川情報");
		}

		&--municipal > span {
			@include i18n("", "Municipal");
			@include i18n(ja, "自治体情報");
		}
	}

	&-content {
		&_weatherPanel {
			&-weatherRadar > summary {
				@include i18n("", "Weather Radar", after);
				@include i18n(ja, "気象レーダー", after);
			}

			&-forecast > summary {
				@include i18n("", "Weekly Forecast", after);
				@include i18n(ja, "週間予報", after);
			}

			&-warning > summary {
				@include i18n("", "Warning and Advisory", after);
				@include i18n(ja, "警報・注意報", after)
			}
		}

		&_transportationPanel {
			&-railways > summary {
				@include i18n("", "Rail Operations", after);
				@include i18n(ja, "鉄道運行情報", after);
			}
		}
	}
}