@charset "UTF-8";

@import "../foundation/variables";
@import "../foundation/functions";



#{getUuid(card)} {
	box-shadow: $card-boxShadow;

	#{&}_title {
		padding: 1em;
		
		list-style: none;
		&::-webkit-details-marker { display: none }
	}

	#{&}_content {
		width: 100%;

		& > * { width: 100% }
	}
}