@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";

$backColor--header: darkcyan;
$textColor--header: white;



.header {
	position: fixed;
	left: 0; top: 0;

	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;

	width: 100%;
	padding: 1em 1em;
	
	background: $backColor--header;
	color: $textColor--header;

	& > *:not(:last-child) { margin-right: 1em }

	&_serviceName {
		display: inline-flex;
		flex-direction: row;
		align-items: center;

		font-size: 1.5em;

		&--name {
			display: inline-flex;
			margin-left: 1em;
		}

		&--logo {
			width: auto;
			height: fontBasedHeight(1em);
		}
	}

	& + * {
		margin-top: calc(#{fontBasedHeight(1.5em)} + 2em); // 1.5em(font-size) * line-height + 2em(padding)
		@include onSize(mobile-s) { margin-top: calc(#{fontBasedHeight(1.5em * 2)} + 2em) } // 1.5em(font-size) * 2(lines) * line-height + 2em(padding)
	}
}