@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";



%header-and-footer {
	display: flex;
	flex-direction: column;
	align-items: center; // X-axis on Column-direction

	@include onSize(laptop) {
		flex-direction: row;
		justify-content: start; // X-axis on Row-direction
	}

	width: 100%;
	padding: 1em;
	
	color: $header-textColor;
	background: $header-backColor;
	box-shadow: 0px 0px 2px 0px $header-shadowColor;

	a {
		color: $header_link-textColor;
		&:focus { color: $header_link-textColor--focused }
	}
}



.header { @extend %header-and-footer;
	position: fixed;
	left: 0; top: 0;

	padding: 0;
	@include onSize(laptop) { padding: 1rem }

	z-index: 127;

	& + * {
		margin-top: calc(#{fontBasedHeight($header_serviceName-fontSize * 2 + 1rem)} + 1rem + 1rem);
		@include onSize(tablet) { margin-top: calc(#{fontBasedHeight($header_serviceName-fontSize + 1rem)} + 1rem + 1rem) }
		@include onSize(laptop) { margin-top: calc(#{fontBasedHeight(1rem)} + 1rem + 2rem) }
	}

	#{&}_serviceName {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;

		padding: 1rem 1rem 0 1rem;
		@include onSize(laptop) { padding: 0 }

		font-size: $header_serviceName-fontSize;
		
		.header_serviceName {
			&-logo {
				height: fontBasedHeight(1em);
				& img { height: inherit }
			}

			&-name { margin-left: 1em }
		}
	}

	#{&}_tabBar {
		width: 100%;

		@include onSize(laptop) {
			width: auto;
			max-width: 40%;
		}
	}
}

.footer { @extend %header-and-footer;
	#{&}_copyright {
		flex: 1;

		font-size: $footer_copyright-fontSize;
		text-align: right;
	}
}