@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";



template.header-and-footer {
	display: flex;
	justify-content: start;
	align-items: center;

	width: 100%;
	padding: 1em;
	
	color: $header-textColor;
	background: $header-backColor;
	box-shadow: 0px 0px 2px 0px $header-shadowColor;

	a {
		color: $header_link-textColor;
		&:focus { color: $header_link-textColor--focused }
	}
}



.header { @extend template.header-and-footer;
	flex-direction: column;
	@include onSize(laptop) { flex-direction: row }

	position: fixed;
	left: 0; top: 0;

	z-index: 127;

	&_serviceName {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex: 1;

		font-size: 1.5em;

		&-name {
			display: inline-flex;
			margin-left: 1em;
		}

		&-logo {
			width: auto;
			height: fontBasedHeight(1em);

			& img { width: auto; height: inherit; }
		}
	}

	& + * {
		margin-top: calc(#{fontBasedHeight(1.5em * 2)} + 2em); // 1.5em(font-size) * 2(lines) * line-height + 2em(padding)
		@include onSize(laptop) { margin-top: calc(#{fontBasedHeight(1.5em)} + 2em) } // 1.5em(font-size) * line-height + 2em(padding)
	}
}

.footer { @extend template.header-and-footer;
	flex-direction: row;
	
	&_copyright {
		flex: 1;

		font-size: 0.75em;
		text-align: right;
	}
}