@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";



.navigation {
	&_tabBar {
		padding: 0.5em 0;

		text-align: center;
		overflow-x: auto;
		white-space: nowrap;

		background: $navigation_tabBar-backColor;

		& a { text-decoration: none }

		.navigation_tabBar {
			&_tab {
				padding: 0.5em;
				color: $navigation_tabBar_tab-textColor--inactive;
	
				cursor: pointer;
	
				&--active {
					color: $navigation_tabBar_tab-textColor;
				}
	
				&[disabled] {
					color: $navigation_tabBar_tab-textColor--disabled;
					pointer-events: none;
				}
			}
		}
	}

	&_panel {
		display: none;
		&[open] { display: block }
	}
}