@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";



.navigation {
	&_tabBar {
		display: block;

		text-align: center;
		overflow: auto hidden;
		white-space: nowrap;

		background: $navigation_tabBar-backColor;

		& a { text-decoration: none }

		/*&::before {
			content: "◀";

			position: absolute;
			display: inline-block;
			width: 1em;
			padding: 0.5em;

			color: $navigation_tabBar_arrow-textColor;
			background: $navigation_tabBar-backColor;
			z-index: 1;
		}*/

		.navigation {
			&_tab {
				position: relative;

				display: inline-block;
				padding: 0.5em;

				&, &:focus { color: $navigation_tabBar_tab-textColor }
				cursor: pointer;

				// &:first-child { margin-left: 2em }
				// &:last-child { margin-right: 2em }

				&::after {
					content: "";

					position: absolute;
					left: 50%; bottom: 0;

					display: block;
					width: 0; height: 3px;

					background: $navigation_tabBar_tab-borderColor;

					transition: 0.25s 0s ease-in-out;
					transition-property: left, width;
				}

				&:hover, &:focus, &--active {
					&::after { left: 0; width: 100% }
				}
	
				&--active { color: $navigation_tabBar_tab-textColor--active }
	
				&--disabled {
					color: $navigation_tabBar_tab-textColor--disabled;
					pointer-events: none;
				}
			}
		}
	}

	&_panelGroup {
		display: block;
		
		.navigation {
			&_panel {
				display: none;
				&--active { display: block }
			}
		}
	}
}