@charset "UTF-8";

@import "./variables";
@import "./mixins";
@import "./functions";



.navigation {
	&_tabBar {
		text-align: center;
		overflow: auto hidden;
		white-space: nowrap;

		background: $navigation_tabBar-backColor;

		& a { text-decoration: none }

		.navigation_tabBar {
			&_tab {
				position: relative;

				display: inline-block;
				padding: 0.5em;

				&, &:focus { color: $navigation_tabBar_tab-textColor }
				cursor: pointer;

				&::after {
					content: "";

					position: absolute;
					left: 50%; bottom: 0;

					display: block;
					width: 0; height: 3px;

					background: $navigation_tabBar_tab-borderColor;

					transition: 0.25s 0s ease-in-out;
					transition-property: left, width;
				}

				&:hover, &:focus, &--active {
					&::after { left: 0; width: 100% }
				}
	
				&--active { color: $navigation_tabBar_tab-textColor--active }
	
				&[disabled] {
					color: $navigation_tabBar_tab-textColor--disabled;
					pointer-events: none;
				}
			}
		}
	}

	&_panel {
		display: none;
		&[open] { display: block }
	}
}