@charset "UTF-8";

@import "../foundation/variables";
@import "../foundation/functions";



#{getUuid(card)} {
	&[open] {
		--card_flipIndicator-width: 100%;
		--card_content-display: block;
	}

	#{&}_title {
		position: relative;
		padding: 1em;
		
		list-style: none;
		&::-webkit-details-marker { display: none }

		&::after {
			content: "";

			position: absolute;
			left: 0; bottom: 0;

			display: block;
			width: var(--card_flipIndicator-width, 0); height: $card_flipIndicator-height;

			background: $card_flipIndicator-color;

			transition: width 0.25s 0s ease-out;
		}
	}

	#{&}_content {
		display: var(--card_content-display, none);
		width: 100%;

		transition: opacity 0.25s 0s ease-out;

		& > * { width: 100% }
	}
}