@charset "UTF-8";

@import "../foundation/variables";
@import "../foundation/functions";



#{getUuid(navigation)} {
	display: block;

	text-align: center;
	overflow: auto hidden;
	white-space: nowrap;

	background:
		// Shadow Covers
		linear-gradient(to left, transparent, $navigation-backColor 1em) left center / 2em 100% local,
		linear-gradient(to right, transparent, $navigation-backColor 1em) right center / 2em 100% local,
		// Shadows
		linear-gradient(to left, transparent, $navigation_scrollIndicator-shadowColor) left center / 1em 100% scroll,
		linear-gradient(to right, transparent, $navigation_scrollIndicator-shadowColor) right center / 1em 100% scroll;

	background-repeat: no-repeat;
	background-color: $navigation-backColor;


	a { text-decoration: none }

	#{&}_tab {
		position: relative;

		display: inline-block;
		padding: 0.5em;

		color: $navigation_tab-textColor;
		cursor: pointer;

		transition: color 0.25s 0s ease-out;


		&:focus { color: $navigation_tab-textColor }
		&[active] { color: $navigation_tab-textColor--active }
		&[disabled] {
			color: $navigation_tab-textColor--disabled;
			pointer-events: none;
		}

		&:hover, &:focus, &[active] {
			--navigation_indicator-left: 0;
			--navigation_indicator-width: 100%;
		}


		&::after {
			content: "";

			position: absolute;
			left: var(--navigation_indicator-left, 50%); bottom: 0;

			display: block;
			width: var(--navigation_indicator-width, 0); height: $navigation_tabIndicator-height;

			background: $navigation_tabIndicator-color;

			transition: 0.25s 0s ease-in-out;
			transition-property: left, width;
		}
	}

	&_panel {
		display: none;
		&[active] { display: block }
	}

	&_panelGroup { display: block }
}